h1 {
    text-align: center;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: Gentona, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    font-weight: bold;
}

/* css review */
body {
    font-family:'Times New Roman', Times, serif;
    background-image: url('background_image.jpg'); /* Adding image URL here */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* color: #0f0; Green text on the background image */
}

.card {
    background-color:rgba(240, 255, 255, 0.441);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 40px;
    width: 455px;
    margin: 0 auto;
    
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    
}

    
    
button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 80px;
    border: 20px solid #4CAF50; /* Green border */
}

/* Adjustments for CSV file input */
.form-control-file {
    border: 2px solid white; /* Green border */
    border-radius: 18px;
}


/* Styling for Process CSV button */
.btn-success {
    background-color: #007BFF; /* Yellow button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #0056b3; /* Darker yellow on hover */
}

footer {
    background-color: black;
    padding: 6px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin:auto;
    font-size: 18px;
    color: white;
}

/*.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color:transparent; /* Dark overlay on top of the background image */
/*    border: 2px solid #0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1); /* Green box shadow */
/*}*/ 

/*.form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay on top of the background image */
/*    color: #0f0;
    border: 1px solid #0f0;
    border-radius: 4px;
}

button {
    background-color: #00f; /* Blue button */
/*    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #003; /* Darker blue on hover */
/*}*/
