@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

h1 {
    text-align: center;
    color: black;
    font-family: 'Black Ops One', system-ui;
    font-size: 1.7em;
}

body {
    font-family: 'Noto Sans Adlam', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.45em;
}

/* css review */
body {
    background-image: url('background_image.jpg'); /* Adding image URL here */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    background-color:rgba(240, 255, 255, 0.441);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 40px;
    width: 455px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"] {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: black;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}   
    
button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    margin-top: -85px;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Adjustments for CSV file input */
.form-control-file {
    border: 2px solid white; /* Green border */
    border-radius: 18px;
}

/* Styling for Process CSV button */
.btn-success {
    background-color: #007BFF; /* Yellow button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #0056b3; /* Darker yellow on hover */
}

footer {
    background-color: black;
    padding: 8px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin:auto;
    font-size: 18px;
    color: white;
}
